.table {
    display: flex;
    flex-direction: column;
    :deep(.el-card__body) {
        display: flex;
        flex-direction: column;
        flex: 1;
        .el-table--default {
            width: 100%;
            display: flex;
            flex: 1 1 0%;
        }
    }
}
.pagination {
    position: relative;
    top: 10px;
}
