@mixin verticalCentername {
    display: flex;
    align-items: center;
}
@mixin lineClamp($count) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: $count;
}
